.app-container {
    background-image: url("../../../assets/img/dark_wll.jpg");
    min-height: 100vh; /* Asegura que el contenedor cubra toda la altura de la ventana */
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
}

.surface {
    margin-top: 15%;
    margin-left: 25%;
    background-color: rgba(102, 98, 98, 0.438);
   backdrop-filter: blur(3px);
   

}

.containerButton{
    display: flex;
    justify-content: center;
}

.buttonSign{
    border-radius: 10px;
}

.span1 {
    font:900;
    color: black;
}

.label1 {
   font-size: 16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bienvenido {
    font-family: 'Satisfy', cursive;
    font-size: 38px;
    font: 600;
    color: black;
}

.container {
    max-width: 60%;
}